includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80500
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    level: 5
    excludePaths:
        - bootstrap/cache
    treatPhpDocTypesAsCertain: false
